        

        body {
             font: 16px Helvetica, Sans-Serif;
              line-height: -1000px;
               background: url(wallpaper.jpg);
                color: white;
                 background-size: 1400px 1200px;
                }

        .clear { 
            clear: both; 
        }

        *{margin:0;padding:0;box-sizing:border-box;font-size:20px;} 
nav a{
      text-decoration:none;
      color:inherit;
      font-size:14px;
      }
            
nav li{
      display:inline-block;
      width:150px;
      height:30px;
      padding:5px 10px;
      background-color:#000;
      border:1px solid #000;
      text-align:center;
      color:#fff;
      position:relative;
}
            
nav li:hover{
      background-color:black;
      color:gray;
      }
            
nav li>ul{
      display:none;
      }

nav li:hover>ul{
      display:block;
      position:absolute;
      top:30px;
      left:0px;
}


        #page-wrap { 
            width: 800px;
             margin: 40px auto 60px; 
            }

        #pic {
            padding: 0px;
             margin: 10px; 
             border: 2px solid white;
              width: 300px;
             height: 200px;
             position: absolute;
             margin-left: 700px;
            }

        h1 {
             margin: 0 0 16px 0;
             padding: 0 0 16px 0;
            font-size: 42px;
             font-weight: bold;
             letter-spacing: -2px;
             border-bottom: 1px solid white;
            }

        h2 {
             font-size: 20px;
              margin: 0 0 6px 0;
               position: relative;
             }

        h2 span {
             position: absolute;
                bottom: 0;
               right: 0;
                font-style: italic;
                font-family: Georgia, Serif;
                font-size: 16px;
                color: white;
                font-weight: normal;
            }

        p { 
            margin: 0 0 16px 0;
         }

        a { 
            color:white;
             text-decoration: none;
            border-bottom: 1px dotted white; 
            }

        a:hover {
             border-bottom-style: solid;
              color: white; 
            }

        ul { 
            margin: 0 0 32px 17px;
         }

        #objective {
             width: 500px;
              float: left; 
            }

        #objective p {
             font-family:'Srisakdi';
             font-style:cursive; 
             color:white;
             }
             
        dt {
             font-style: italic;
              font-weight: bold;
               font-size: 18px;
                text-align: right;
                padding: 0 26px 0 0;
                 width: 150px;
                 float: left;
                  height: 100px;
                  border-right: 1px solid white;
                }
                
        dd {
             width: 600px;
              float: right;
             }

        dd.clear {
             float: none;
              margin: 0;
               height: 15px;
             }